/* ОБЩИЕ СТИЛИ И СБРОС */
a, body, button, div, footer, form, h2, header, html, iframe, li, main, nav, p, section, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    outline: 0;
}

img {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    outline: 0;
    max-width: 100%;
}

body, html {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #313440;
    background: #fff;
    font-size: 16px;
    line-height: 24px;
    min-width: 320px;
}

footer, header, main, nav, section {
    display: block;
}

button {
    background: transparent;
    text-decoration: none;
    cursor: pointer;
}

a {
    text-decoration: underline;
    color: #313440;
    cursor: pointer;
}

a:hover {
    color: #ad1d26;
}

ul {
    list-style: none;
}

strong {
    font-weight: 700;
}

i {
    font-style: normal;
}

*, :focus, :hover, input:focus {
    outline: 0;
}

button:active, button:focus {
    outline: 0;
}

button::-moz-focus-inner {
    border: 0;
}

a, button, div, footer, form, header, input, li, main, section {
    box-sizing: border-box;
}

input {
    outline: 0;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    resize: none;
    border: 0;
}

.phone-link:hover strong {
    color: #ad1d26;
}

h2 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
}

/* ХЕДЕР */
.site-header {
    position: relative;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
}

/* --- Верхняя часть хедера --- */
.header-top {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo img {
    width: 197px;
    height: 46px;
    display: block;
}

.slogan {
    color: #7e8290;
    font-size: 12px;
    line-height: 18px;
    max-width: 160px;
    transition: all 250ms linear;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 50px;
}

.address {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: #313440;
}

.icon-mobile {
    display: none;
}

.address p {
    font-size: 14px;
    line-height: 18px;
    text-align: left;
}

.address p strong {
    font-weight: 600;
    color: #ad1d26;
    height: 17px;
    display: inline-block;
    margin-bottom: 2px;
}

.address p strong:hover {
    color: #313440;
    border-color: #313440;
}

.phone {
    display: flex;
    gap: 12px;
}

.phone-link {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: #313440;
}

.phone-link strong {
    font-size: 22px;
    font-weight: 500;
    transition: all 250ms linear;
}

.phone-link strong i {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #7e8290;
}

.cart {
    position: relative;
    height: 32px;
}

.cart-count {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #fff;
    background: #ad1d26;
    top: -12px;
    right: -12px;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    font-size: 12px;
    line-height: 0;
    border-radius: 50%;
}

.mobile-menu {
    display: none;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.mobile-menu:hover svg path {
    opacity: 0.5;
    transition: all 250ms linear;
}

/* --- Навигация хедера --- */
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: #f4f4f5;
    border-radius: 8px;
    height: 58px;
    user-select: none;
}

.header-nav nav {
    display: flex;
    align-items: stretch;
    height: 100%;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #313440;
    font-size: 15px;
}

.nav-link:first-child {
    border-radius: 8px 0 0 8px;
}

.nav-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
}

.nav-dropdown .nav-link {
    border-radius: 0;
}

.dropdown-content {
    position: absolute;
    width: 100%;
    left: 0;
    top: 58px;
    background: #fff;
    box-shadow: 0 4px 9px rgba(79, 89, 132, 0.12);
    z-index: 9;
    padding: 28px;
    border-radius: 8px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translateY(15px);
    transition: all 250ms linear;
}

.nav-dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.dropdown-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 0;
}

.dropdown-card {
    border: 1px solid #eaebed;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: #313440;
    text-decoration: none;
    padding: 10px 15px;
    min-height: 60px;
    width: calc(20% - 8px);
}

.dropdown-card strong {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.dropdown-card:hover strong {
    color: #ad1d26;
}

.search {
    position: relative;
    margin: 0 28px 0 0;
}

.search-field {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 12px;
    line-height: 0;
    height: 32px;
    padding: 0 40px 0 15px;
    width: 196px;
    transition: all 250ms linear;
}

.search-field:hover {
    border-color: #babcc3;
}

.search-field:focus {
    box-shadow: 0 0 0 2px rgba(186, 188, 195, 0.4);
    border-color: #babcc3;
}

.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40px;
    opacity: 0.35;
    transition: all 250ms linear;
}

.search-btn:hover {
    opacity: 1;
}

.mobile-contact {
    display: none;
}

/* ПРОМО-БЛОК (ГЛАВНЫЙ БАННЕР) */
.promo {
    position: relative;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.promo-banner {
    border-radius: 8px;
    background: #f4f4f5;
    height: 400px;
    min-height: 200px;
}

.promo-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 8px;
}

/* СЕКЦИЯ "НАШИ ТОВАРЫ" */
.goods {
    margin-top: 58px;
    margin-left: auto;
    margin-right: auto;
}

.goods-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 28px;
}

.goods-card {
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    height: 205px;
    border-radius: 8px;
    color: #fff;
    background: #f4f4f5;
    text-decoration: none;
    padding: 15px;
    width: calc(25% - 12px);
}

.goods-card strong {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    position: relative;
    z-index: 3;
    text-align: center;
    width: 100%;
}

.goods-card picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.card-img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    display: block;
    transition: all 350ms linear;
    z-index: 1;
}

.goods-card picture::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(87, 77, 65, 0) 0%, #000 100%);
    opacity: 0.6;
    transition: all 250ms linear;
    z-index: 2;
}

.goods-card:hover {
    color: #fff;
}

.goods-card:hover .card-img {
    transform: scale(1.08);
}

.goods-card:hover picture::before {
    opacity: 0.75;
}

/* СЕКЦИЯ "ПРОДУКТЫ" (СЛАЙДЕР) */
.products {
    background: linear-gradient(180deg, #f4f4f5 0%, rgba(244, 244, 245, 0.5) 100%);
    padding: 52px 0;
    margin-top: 0;
}

.products-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.products-tab {
    position: relative;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
}

.slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.slider-track {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    align-items: stretch;
    width: max-content;
}

.slide {
    flex: 0 0 calc((100% - 32px) / 3);
    max-width: 282px;
    height: auto;
    display: flex;
    justify-content: center;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border: 1px solid #eaebed;
    border-radius: 8px;
    padding: 15px;
    height: 100%;
    transition: all 250ms linear;
    width: 100%;
}

.product-card:hover {
    border-color: #babcc3;
}

.product-link {
    text-decoration: none;
}

.product-link picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 335px;
}

.product-link picture img {
    width: auto;
    height: 100%;
    object-fit: contain;
}

.product-link strong {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-top: 15px;
    color: #313440;
    text-align: center;
    height: 42px;
    overflow: hidden;
    display: -webkit-box;
    transition: all 250ms linear;
}

.product-link:hover strong {
    color: #ad1d26;
}

.price {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.slider-prev, .slider-next {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    border: 1px solid #ad1d26;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 250ms linear;
}

.slider-prev {
    left: -28px;
}

.slider-prev:active {
    transform: translate(-5px, -50%);
}

.slider-prev:hover {
    border-color: transparent;
    background: #313440;
}

.slider-prev:hover img {
    filter: brightness(0) invert(1);
}

.slider-next {
    right: -28px;
}

.slider-next:active {
    transform: translate(5px, -50%);
}

.slider-next:hover {
    border-color: transparent;
    background: #313440;
}

.slider-next:hover img {
    filter: brightness(0) invert(1);
}

.catalog-link {
    padding: 30px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog-link ul {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e0e0e2;
    padding: 10px 14px;
    border-radius: 40px;
    font-size: 14px;
    line-height: 16px;
    gap: 48px;
}

.catalog-link ul li {
    position: relative;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    height: 40px;
    border-radius: 20px;
    white-space: nowrap;
    color: #fff;
    background: #ad1d26;
    text-decoration: none;
}

.btn:hover {
    color: #fff;
    background: #313440;
}

.catalog-link ul li::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: #babac4;
    top: 0;
    right: -24px;
}

.catalog-link ul li:last-child::after {
    display: none;
}

/* СЕКЦИЯ "КОНТАКТЫ" */
.contacts {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    border-radius: 8px;
    height: 581px;
    margin-top: 58px;
    margin-left: auto;
    margin-right: auto;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 45%;
    color: #fff;
    background: #313440;
    height: 100%;
}

.contact-block {
    padding: 30px 30px 30px 58px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-block h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}

.contact-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
}

.contact-item img {
    width: 32px;
    height: 33px;
}

.contact-item strong {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    opacity: 0.6;
}

.contact-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 48px);
}

.contact-text .link, .contact-text .text {
    font-size: 18px;
    line-height: 22px;
    margin-top: 5px;
}

.contact-text .link {
    text-decoration: none;
    color: #fff;
}

.contact-text .link:hover {
    color: #ad1d26;
}

.map {
    width: 55%;
    height: 100%;
}

.map iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/* ФУТЕР */
.site-footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    color: #7e8290;
    padding: 0 58px 58px;
    margin-top: 58px;
    margin-left: auto;
    margin-right: auto;
}

.copyright {
    max-width: 80%;
    font-size: 13px;
    line-height: 20px;
}

.copyright a {
    text-decoration: none;
}

.footer-logo {
    height: 30px;
    width: auto;
}

/* АДАПТИВКА */
@media all and (min-width: 1001px) {
    .dropdown-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 14px rgba(0, 0, 0, 0.13);
    }
}

@media all and (min-width: 1241px) {
    .site-header, .main-site, .promo, .goods, .products-title, .products-tab, .contacts, .site-footer {
    max-width: 1176px;
}
    .nav-link {
        padding: 0 28px;
    }
    .nav-link:hover,
    .nav-dropdown:hover .nav-link {
        background: #313440;
        color: #fff;
    }
}

@media all and (max-width: 1240px) {
    .site-header, .promo, .goods, .products, .contacts, .site-footer {
        margin-left: 15px;
        margin-right: 15px;
    }
    .products {
        padding-left: 15px;
        padding-right: 15px;
    }
    .header-right {
        gap: 40px;
    }
    .phone-link strong {
        font-size: 18px;
    }
    .header-nav {
        height: 50px;
    }
    .header-nav nav a {
        padding: 0 0 0 20px;
    }
    .header-nav nav a:hover {
        color: #ad1d26;
    }
    .dropdown-content {
        top: 50px;
        padding: 20px;
    }
    .dropdown-grid .dropdown-card {
        width: calc(25% - 8px);
    }
    .search {
        margin-right: 20px;
    }
    .promo {
        margin-top: 15px;
    }
    .promo-banner {
        height: auto;
    }
    .slider-prev {
        left: -7px;
    }
    .slider-next {
        right: -7px;
    }
    h2 {
        font-size: 22px;
        line-height: 26px;
    }
    .goods, .contacts, .site-footer {
        margin-top: 38px;
    }
    .dropdown-card strong,
    .product-link strong {
        font-size: 14px;
        line-height: 16px;
    }
    .goods-grid, .dropdown-grid {
        margin-top: 22px;
    }
    .products {
        padding-top: 38px;
        padding-bottom: 38px;
    }
    .product-link picture {
        height: 280px;
    }
    .price {
        margin-top: 15px;
    }
    .contact-info {
        width: 55%;
    }
    .map {
        width: 45%;
    }
    .site-footer {
        padding-bottom: 38px;
    }
}

@media all and (max-width: 1000px) {
    .header-top {
        padding: 20px 15px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
        background: rgba(255, 255, 255, 0.85);
        backdrop-filter: blur(8px);
        min-width: 320px;
    }
    .header-left {
        gap: 30px;
    }
    .header-right {
        gap: 20px;
    }
    .icon-mobile {
        display: block;
    }
    .icon-desktop,
    .address p,
    .phone-link strong,
    .header-nav nav,
    .catalog-link ul li::after {
        display: none;
    }
    .mobile-menu {
        display: flex;
    }
    .header-nav {
        margin-top: 86px;
        height: inherit;
        flex-direction: column;
        background: transparent;
        border-radius: 0;
        gap: 10px;
    }
    .search {
        margin: 0;
        width: 100%;
    }
    .search-field {
        width: 100%;
        height: 36px;
        font-size: 16px;
        font-weight: 400;
    }
    .mobile-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 5px;
        background: #f4f4f5;
        padding: 15px 5px 17px;
        border-radius: 8px;
    }
    .mobile-contact p {
        text-align: center;
        font-size: 14px;
        line-height: 18px;
    }
    .mobile-contact p strong {
        display: block;
        font-size: 16px;
        margin-bottom: 5px;
    }
    .mobile-phone {
        font-size: 22px;
        color: #313440;
        font-weight: 600;
        text-decoration: none;
    }
    h2 {
        font-size: 20px;
        line-height: 24px;
    }
    .goods-card {
        height: 180px;
    }
    .goods-card strong {
        font-size: 16px;
        line-height: 18px;
    }
    .catalog-link ul {
        gap: 10px;
    }
    .goods-grid .goods-card {
        width: calc(50% - 8px);
    }
    .dropdown-grid .dropdown-card {
        width: calc(25% - 13px);
    }
    .slider {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .slide {
        flex: 0 0 calc((100% - 12px) / 2);
        max-width: 40%;
    }
    .slider-track {
        padding-right: 15px;
    }
    .slider-prev, .slider-next {
        display: none;
    }
    .product-link picture {
        height: 260px;
    }
    .contact-info {
        width: 60%;
    }
    .map {
        width: 40%;
    }
    .site-footer {
        align-items: flex-start;
        padding-left: 15px;
        padding-right: 15px;
    }
    .copyright {
        max-width: 70%;
    }
}

@media all and (max-width: 768px) {
    .slide {
        flex: 0 0 280px;
    }
    .product-link picture {
        height: 240px;
    }
}

@media all and (max-width: 700px) {
    .slogan {
        display: none;
    }
}

@media all and (max-width: 640px) {
    .site-header, .header-nav {
        margin-left: 15px;
        margin-right: 15px;
    }
    .header-top {
        padding: 15px;
    }
    .header-nav {
        margin-top: 76px;
    }
    .phone {
        display: none;
    }
    .promo,
    .promo-banner,
    .goods,
    .contacts {
        margin-left: 15px;
        margin-right: 15px;
    }
    .products {
        width: 100%;
        margin-left: 0;
        padding: 38px 15px;
    }
    .promo-banner {
        border-radius: 0;
        background: transparent;
        height: 100%;
    }
    .goods-card {
        height: 160px;
    }
    .goods-card strong {
        font-size: 15px;
    }
    .catalog-link ul {
        flex-direction: column;
        width: 100%;
        gap: 10px;
        border-radius: 0;
        padding: 0;
        background: transparent;
    }
    .catalog-link ul li {
        width: 100%;
    }
    .goods-grid {
        gap: 10px;
    }
    .goods-grid .goods-card {
        width: calc(50% - 5px);
    }
    .dropdown-grid {
        display: flex;
        flex-wrap: nowrap;
        gap: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .dropdown-grid .dropdown-card {
        flex: 0 0 auto;
        width: 37%;
    }
    .dropdown-grid::after {
        content: "";
        flex: 0 0 1px;
    }
    .contacts {
        flex-direction: column;
        height: auto;
    }
    .contact-info,
    .map {
        width: 100%;
        height: auto;
    }
    .contact-text .link, .contact-text .text {
        font-size: 16px;
        line-height: 20px;
    }
    .site-footer {
        flex-direction: column-reverse;
        justify-content: flex-end;
        padding-left: 0;
        padding-right: 0;
        margin-left: 15px;
        margin-right: 15px;
    }
    .copyright {
        max-width: 100%;
        font-size: 12px;
        line-height: 18px;
    }
    .footer-logo {
        margin-bottom: 20px;
        height: 30px;
    }
}

@media all and (max-width: 460px) {
    .header-right {
        gap: 12px;
    }
    .dropdown-grid .dropdown-card {
        width: 65%;
    }
    .slide {
        flex: 0 0 280px;
    }
    .contact-block {
        padding: 38px 25px 0 30px;
    }
    .map iframe {
        height: 380px;
    }
}

@media all and (max-width: 360px) {
    .header-right {
        gap: 15px;
    }
    .phone-link {
        display: none;
    }
}

/* ШРИФТЫ */
@font-face {
    font-family: "Inter";
    src: url(../fonts/inter-regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/inter-bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/inter-semibold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/inter-medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/*О МАГАЗИНЕ*/
/* Стили для страницы магазина */

.about-block {
    margin-top: 28px;
}

.about-block h1 {
    font-size: 30px;
    line-height: 32px;
    font-weight: 700;
    margin: 10px 0 0;
}

.about-text {
    margin-top: 40px;
}

.about-text p {
    margin-top: 20px;
}

.about-text h3 {
    margin-top: 30px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.about-text ul {
    list-style: none;
    margin-top: 20px;
    padding-left: 0;
}

.about-text ul li {
    margin-top: 10px;
    padding-left: 15px;
    position: relative;
}

.about-text ul li::before {
    content: "•";
    color: #ad1d26;
    position: absolute;
    left: 0;
    font-weight: bold;
}

.gallery {
    margin-top: 58px;
}

.gallery-grid {
    width: 100%;
    gap: 16px;
    margin-top: 28px;
}

.photo {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: zoom-in;
    background: #f4f4f5;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 350ms linear;
}

.photo:hover img {
    transform: scale(1.05);
}

/* Адаптивность для "О магазине" */
@media (min-width: 641px) {
    .gallery-grid {
        display: grid;
        grid: "a c d" auto "a c e" auto "b c e" auto / auto auto auto;
    }
    .gallery-grid .photo:nth-child(1) { grid-area: a; }
    .gallery-grid .photo:nth-child(2) { grid-area: b; }
    .gallery-grid .photo:nth-child(3) { grid-area: c; }
    .gallery-grid .photo:nth-child(4) { grid-area: d; }
    .gallery-grid .photo:nth-child(5) { grid-area: e; }
}

@media (max-width: 1240px) {
    .about-block {
        margin-left: 15px;
        margin-right: 15px;
    }
    .about-block h1 {
        font-size: 26px;
        line-height: 28px;
    }
    .about-text {
        margin-top: 20px;
    }
    .about-text h3 {
        font-size: 16px;
    }
    .gallery {
        margin-top: 38px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .gallery-grid {
        margin-top: 22px;
    }
}

@media (max-width: 1000px) {
    .about-block h1 {
        font-size: 22px;
        line-height: 24px;
    }
    .about-text {
        font-size: 15px;
        line-height: 22px;
    }
}

@media (max-width: 640px) {
    .about-block {
        margin-top: 18px;
    }
    .gallery-scroll {
        overflow-x: auto;
        width: calc(100% + 30px);
        margin-left: -15px;
    }
    .gallery-grid {
        display: flex;
        flex-wrap: nowrap;
        gap: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .gallery-grid::after {
        content: "";
        flex: 0 0 1px;
    }
    .photo {
        height: 340px;
        flex: 0 0 85%;
    }
}

@media (max-width: 460px) {
    .photo {
        height: 240px;
    }
}

@media (max-width: 380px) {
    .photo {
        height: 180px;
    }
}

.main-site {
    display: block;
    max-width: 1176px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 1240px) {
    .main-site {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*Стили для страницы "Доставка и Замеры*/
.delivery-info {
    margin-top: 28px; 
    padding-bottom: 28px;
}

.cart-wrap {
    padding-top: 5px;
}

.cart-wrap h1 {
    font-size: 30px;
    font-weight: 700; 
    line-height: 1.2; 
}

.delivery-content {
    margin-top: 40px;
}

.delivery-content h1, 
.delivery-content h2, 
.delivery-content h3 { 
    font-weight: 700; 
}

.delivery-content h1 { 
    font-size: 30px; 
    line-height: 32px; 
    margin: 10px 0 0; 
}
.delivery-content h2 { 
    font-size: 24px; 
    line-height: 24px; 
    margin-top: 30px; 
}
.delivery-content h3 { 
    font-size: 18px; 
    line-height: 22px; 
    margin-top: 30px; 
}

.delivery-content ul { 
    list-style: none; 
    margin-top: 20px; 
}
.delivery-content ul li { 
    margin-top: 10px; 
}
.delivery-content ul li::before { 
    content: "• "; color: #ad1d26; 
}

/*Стили для таблиц */
.table-container {
    overflow: hidden; 
    border: 1px solid #eaebed; 
    border-radius: 8px;
    margin-top: 20px; 
    overflow-x: auto;
}
.delivery-content table { 
    width: 100%; 
    border-collapse: collapse; 
}
.delivery-content table th, .delivery-content table td {
    padding: 15px 25px; 
    text-align: left;
     border: none;
    border-bottom: 1px solid #eaebed;
}
.delivery-content table th { 
    background: #f4f4f5; 
    font-weight: 600; 
}
.delivery-content table tr:last-child th,
.delivery-content table tr:last-child td { 
    border-bottom: none; 
}

/*Стили для страницы Доствка*/
/* ОБЩИЕ СТИЛИ И СБРОС */
a, body, button, div, footer, form, h2, header, html, iframe, li, main, nav, p, section, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    outline: 0;
}

img {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    outline: 0;
    max-width: 100%;
}

body, html {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #313440;
    background: #fff;
    font-size: 16px;
    line-height: 24px;
    min-width: 320px;
}

footer, header, main, nav, section {
    display: block;
}

button {
    background: transparent;
    text-decoration: none;
    cursor: pointer;
}

a {
    text-decoration: underline;
    color: #313440;
    cursor: pointer;
}

a:hover {
    color: #ad1d26;
}

ul {
    list-style: none;
}

strong {
    font-weight: 700;
}

i {
    font-style: normal;
}

*, :focus, :hover, input:focus {
    outline: 0;
}

button:active, button:focus {
    outline: 0;
}

button::-moz-focus-inner {
    border: 0;
}

a, button, div, footer, form, header, input, li, main, section {
    box-sizing: border-box;
}

input {
    outline: 0;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    resize: none;
    border: 0;
}

.phone-link:hover strong {
    color: #ad1d26;
}

h2 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
}

/* ХЕДЕР */
.site-header {
    position: relative;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
}

/* --- Верхняя часть хедера --- */
.header-top {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo img {
    width: 197px;
    height: 46px;
    display: block;
}

.slogan {
    color: #7e8290;
    font-size: 12px;
    line-height: 18px;
    max-width: 160px;
    transition: all 250ms linear;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 50px;
}

.address {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: #313440;
}

.icon-mobile {
    display: none;
}

.address p {
    font-size: 14px;
    line-height: 18px;
    text-align: left;
}

.address p strong {
    font-weight: 600;
    color: #ad1d26;
    height: 17px;
    display: inline-block;
    margin-bottom: 2px;
}

.address p strong:hover {
    color: #313440;
    border-color: #313440;
}

.phone {
    display: flex;
    gap: 12px;
}

.phone-link {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: #313440;
}

.phone-link strong {
    font-size: 22px;
    font-weight: 500;
    transition: all 250ms linear;
}

.phone-link strong i {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #7e8290;
}

.cart {
    position: relative;
    height: 32px;
}

.cart-count {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #fff;
    background: #ad1d26;
    top: -12px;
    right: -12px;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    font-size: 12px;
    line-height: 0;
    border-radius: 50%;
}

.mobile-menu {
    display: none;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.mobile-menu:hover svg path {
    opacity: 0.5;
    transition: all 250ms linear;
}

/* --- Навигация хедера --- */
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: #f4f4f5;
    border-radius: 8px;
    height: 58px;
    user-select: none;
}

.header-nav nav {
    display: flex;
    align-items: stretch;
    height: 100%;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #313440;
    font-size: 15px;
}

.nav-link:first-child {
    border-radius: 8px 0 0 8px;
}

.nav-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
}

.nav-dropdown .nav-link {
    border-radius: 0;
}

.dropdown-content {
    position: absolute;
    width: 100%;
    left: 0;
    top: 58px;
    background: #fff;
    box-shadow: 0 4px 9px rgba(79, 89, 132, 0.12);
    z-index: 9;
    padding: 28px;
    border-radius: 8px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translateY(15px);
    transition: all 250ms linear;
}

.nav-dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.dropdown-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 0;
}

.dropdown-card {
    border: 1px solid #eaebed;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: #313440;
    text-decoration: none;
    padding: 10px 15px;
    min-height: 60px;
    width: calc(20% - 8px);
}

.dropdown-card strong {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.dropdown-card:hover strong {
    color: #ad1d26;
}

.search {
    position: relative;
    margin: 0 28px 0 0;
}

.search-field {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 12px;
    line-height: 0;
    height: 32px;
    padding: 0 40px 0 15px;
    width: 196px;
    transition: all 250ms linear;
}

.search-field:hover {
    border-color: #babcc3;
}

.search-field:focus {
    box-shadow: 0 0 0 2px rgba(186, 188, 195, 0.4);
    border-color: #babcc3;
}

.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40px;
    opacity: 0.35;
    transition: all 250ms linear;
}

.search-btn:hover {
    opacity: 1;
}

.mobile-contact {
    display: none;
}

/* ПРОМО-БЛОК (ГЛАВНЫЙ БАННЕР) */
.promo {
    position: relative;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.promo-banner {
    border-radius: 8px;
    background: #f4f4f5;
    height: 400px;
    min-height: 200px;
}

.promo-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 8px;
}

/* СЕКЦИЯ "НАШИ ТОВАРЫ" */
.goods {
    margin-top: 58px;
    margin-left: auto;
    margin-right: auto;
}

.goods-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 28px;
}

.goods-card {
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    height: 205px;
    border-radius: 8px;
    color: #fff;
    background: #f4f4f5;
    text-decoration: none;
    padding: 15px;
    width: calc(25% - 12px);
}

.goods-card strong {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    position: relative;
    z-index: 3;
    text-align: center;
    width: 100%;
}

.goods-card picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.card-img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    display: block;
    transition: all 350ms linear;
    z-index: 1;
}

.goods-card picture::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(87, 77, 65, 0) 0%, #000 100%);
    opacity: 0.6;
    transition: all 250ms linear;
    z-index: 2;
}

.goods-card:hover {
    color: #fff;
}

.goods-card:hover .card-img {
    transform: scale(1.08);
}

.goods-card:hover picture::before {
    opacity: 0.75;
}

/* СЕКЦИЯ "ПРОДУКТЫ" (СЛАЙДЕР) */
.products {
    background: linear-gradient(180deg, #f4f4f5 0%, rgba(244, 244, 245, 0.5) 100%);
    padding: 52px 0;
    margin-top: 0;
}

.products-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.products-tab {
    position: relative;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
}

.slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.slider-track {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    align-items: stretch;
    width: max-content;
}

.slide {
    flex: 0 0 calc((100% - 32px) / 3);
    max-width: 282px;
    height: auto;
    display: flex;
    justify-content: center;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border: 1px solid #eaebed;
    border-radius: 8px;
    padding: 15px;
    height: 100%;
    transition: all 250ms linear;
    width: 100%;
}

.product-card:hover {
    border-color: #babcc3;
}

.product-link {
    text-decoration: none;
}

.product-link picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 335px;
}

.product-link picture img {
    width: auto;
    height: 100%;
    object-fit: contain;
}

.product-link strong {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-top: 15px;
    color: #313440;
    text-align: center;
    height: 42px;
    overflow: hidden;
    display: -webkit-box;
    transition: all 250ms linear;
}

.product-link:hover strong {
    color: #ad1d26;
}

.price {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.slider-prev, .slider-next {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    border: 1px solid #ad1d26;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 250ms linear;
}

.slider-prev {
    left: -28px;
}

.slider-prev:active {
    transform: translate(-5px, -50%);
}

.slider-prev:hover {
    border-color: transparent;
    background: #313440;
}

.slider-prev:hover img {
    filter: brightness(0) invert(1);
}

.slider-next {
    right: -28px;
}

.slider-next:active {
    transform: translate(5px, -50%);
}

.slider-next:hover {
    border-color: transparent;
    background: #313440;
}

.slider-next:hover img {
    filter: brightness(0) invert(1);
}

.catalog-link {
    padding: 30px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog-link ul {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e0e0e2;
    padding: 10px 14px;
    border-radius: 40px;
    font-size: 14px;
    line-height: 16px;
    gap: 48px;
}

.catalog-link ul li {
    position: relative;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    height: 40px;
    border-radius: 20px;
    white-space: nowrap;
    color: #fff;
    background: #ad1d26;
    text-decoration: none;
}

.btn:hover {
    color: #fff;
    background: #313440;
}

.catalog-link ul li::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: #babac4;
    top: 0;
    right: -24px;
}

.catalog-link ul li:last-child::after {
    display: none;
}

/* СЕКЦИЯ "КОНТАКТЫ" */
.contacts {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    border-radius: 8px;
    height: 581px;
    margin-top: 58px;
    margin-left: auto;
    margin-right: auto;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 45%;
    color: #fff;
    background: #313440;
    height: 100%;
}

.contact-block {
    padding: 30px 30px 30px 58px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-block h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}

.contact-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
}

.contact-item img {
    width: 32px;
    height: 33px;
}

.contact-item strong {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    opacity: 0.6;
}

.contact-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 48px);
}

.contact-text .link, .contact-text .text {
    font-size: 18px;
    line-height: 22px;
    margin-top: 5px;
}

.contact-text .link {
    text-decoration: none;
    color: #fff;
}

.contact-text .link:hover {
    color: #ad1d26;
}

.map {
    width: 55%;
    height: 100%;
}

.map iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/* ФУТЕР */
.site-footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    color: #7e8290;
    padding: 0 58px 58px;
    margin-top: 58px;
    margin-left: auto;
    margin-right: auto;
}

.copyright {
    max-width: 80%;
    font-size: 13px;
    line-height: 20px;
}

.copyright a {
    text-decoration: none;
}

.footer-logo {
    height: 30px;
    width: auto;
}

/* АДАПТИВКА */
@media all and (min-width: 1001px) {
    .dropdown-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 14px rgba(0, 0, 0, 0.13);
    }
}

@media all and (min-width: 1241px) {
    .site-header, .main-site, .promo, .goods, .products-title, .products-tab, .contacts, .site-footer {
    max-width: 1176px;
}
    .nav-link {
        padding: 0 28px;
    }
    .nav-link:hover,
    .nav-dropdown:hover .nav-link {
        background: #313440;
        color: #fff;
    }
}

@media all and (max-width: 1240px) {
    .site-header, .promo, .goods, .products, .contacts, .site-footer {
        margin-left: 15px;
        margin-right: 15px;
    }
    .products {
        padding-left: 15px;
        padding-right: 15px;
    }
    .header-right {
        gap: 40px;
    }
    .phone-link strong {
        font-size: 18px;
    }
    .header-nav {
        height: 50px;
    }
    .header-nav nav a {
        padding: 0 0 0 20px;
    }
    .header-nav nav a:hover {
        color: #ad1d26;
    }
    .dropdown-content {
        top: 50px;
        padding: 20px;
    }
    .dropdown-grid .dropdown-card {
        width: calc(25% - 8px);
    }
    .search {
        margin-right: 20px;
    }
    .promo {
        margin-top: 15px;
    }
    .promo-banner {
        height: auto;
    }
    .slider-prev {
        left: -7px;
    }
    .slider-next {
        right: -7px;
    }
    h2 {
        font-size: 22px;
        line-height: 26px;
    }
    .goods, .contacts, .site-footer {
        margin-top: 38px;
    }
    .dropdown-card strong,
    .product-link strong {
        font-size: 14px;
        line-height: 16px;
    }
    .goods-grid, .dropdown-grid {
        margin-top: 22px;
    }
    .products {
        padding-top: 38px;
        padding-bottom: 38px;
    }
    .product-link picture {
        height: 280px;
    }
    .price {
        margin-top: 15px;
    }
    .contact-info {
        width: 55%;
    }
    .map {
        width: 45%;
    }
    .site-footer {
        padding-bottom: 38px;
    }
}

@media all and (max-width: 1000px) {
    .header-top {
        padding: 20px 15px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
        background: rgba(255, 255, 255, 0.85);
        backdrop-filter: blur(8px);
        min-width: 320px;
    }
    .header-left {
        gap: 30px;
    }
    .header-right {
        gap: 20px;
    }
    .icon-mobile {
        display: block;
    }
    .icon-desktop,
    .address p,
    .phone-link strong,
    .header-nav nav,
    .catalog-link ul li::after {
        display: none;
    }
    .mobile-menu {
        display: flex;
    }
    .header-nav {
        margin-top: 86px;
        height: inherit;
        flex-direction: column;
        background: transparent;
        border-radius: 0;
        gap: 10px;
    }
    .search {
        margin: 0;
        width: 100%;
    }
    .search-field {
        width: 100%;
        height: 36px;
        font-size: 16px;
        font-weight: 400;
    }
    .mobile-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 5px;
        background: #f4f4f5;
        padding: 15px 5px 17px;
        border-radius: 8px;
    }
    .mobile-contact p {
        text-align: center;
        font-size: 14px;
        line-height: 18px;
    }
    .mobile-contact p strong {
        display: block;
        font-size: 16px;
        margin-bottom: 5px;
    }
    .mobile-phone {
        font-size: 22px;
        color: #313440;
        font-weight: 600;
        text-decoration: none;
    }
    h2 {
        font-size: 20px;
        line-height: 24px;
    }
    .goods-card {
        height: 180px;
    }
    .goods-card strong {
        font-size: 16px;
        line-height: 18px;
    }
    .catalog-link ul {
        gap: 10px;
    }
    .goods-grid .goods-card {
        width: calc(50% - 8px);
    }
    .dropdown-grid .dropdown-card {
        width: calc(25% - 13px);
    }
    .slider {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .slide {
        flex: 0 0 calc((100% - 12px) / 2);
        max-width: 40%;
    }
    .slider-track {
        padding-right: 15px;
    }
    .slider-prev, .slider-next {
        display: none;
    }
    .product-link picture {
        height: 260px;
    }
    .contact-info {
        width: 60%;
    }
    .map {
        width: 40%;
    }
    .site-footer {
        align-items: flex-start;
        padding-left: 15px;
        padding-right: 15px;
    }
    .copyright {
        max-width: 70%;
    }
}

@media all and (max-width: 768px) {
    .slide {
        flex: 0 0 280px;
    }
    .product-link picture {
        height: 240px;
    }
}

@media all and (max-width: 700px) {
    .slogan {
        display: none;
    }
}

@media all and (max-width: 640px) {
    .site-header, .header-nav {
        margin-left: 15px;
        margin-right: 15px;
    }
    .header-top {
        padding: 15px;
    }
    .header-nav {
        margin-top: 76px;
    }
    .phone {
        display: none;
    }
    .promo,
    .promo-banner,
    .goods,
    .contacts {
        margin-left: 15px;
        margin-right: 15px;
    }
    .products {
        width: 100%;
        margin-left: 0;
        padding: 38px 15px;
    }
    .promo-banner {
        border-radius: 0;
        background: transparent;
        height: 100%;
    }
    .goods-card {
        height: 160px;
    }
    .goods-card strong {
        font-size: 15px;
    }
    .catalog-link ul {
        flex-direction: column;
        width: 100%;
        gap: 10px;
        border-radius: 0;
        padding: 0;
        background: transparent;
    }
    .catalog-link ul li {
        width: 100%;
    }
    .goods-grid {
        gap: 10px;
    }
    .goods-grid .goods-card {
        width: calc(50% - 5px);
    }
    .dropdown-grid {
        display: flex;
        flex-wrap: nowrap;
        gap: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .dropdown-grid .dropdown-card {
        flex: 0 0 auto;
        width: 37%;
    }
    .dropdown-grid::after {
        content: "";
        flex: 0 0 1px;
    }
    .contacts {
        flex-direction: column;
        height: auto;
    }
    .contact-info,
    .map {
        width: 100%;
        height: auto;
    }
    .contact-text .link, .contact-text .text {
        font-size: 16px;
        line-height: 20px;
    }
    .site-footer {
        flex-direction: column-reverse;
        justify-content: flex-end;
        padding-left: 0;
        padding-right: 0;
        margin-left: 15px;
        margin-right: 15px;
    }
    .copyright {
        max-width: 100%;
        font-size: 12px;
        line-height: 18px;
    }
    .footer-logo {
        margin-bottom: 20px;
        height: 30px;
    }
}

@media all and (max-width: 460px) {
    .header-right {
        gap: 12px;
    }
    .dropdown-grid .dropdown-card {
        width: 65%;
    }
    .slide {
        flex: 0 0 280px;
    }
    .contact-block {
        padding: 38px 25px 0 30px;
    }
    .map iframe {
        height: 380px;
    }
}

@media all and (max-width: 360px) {
    .header-right {
        gap: 15px;
    }
    .phone-link {
        display: none;
    }
}

/* ШРИФТЫ */
@font-face {
    font-family: "Inter";
    src: url(../fonts/inter-regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/inter-bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/inter-semibold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/inter-medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/*О МАГАЗИНЕ*/
/* Стили для страницы магазина */

.about-block {
    margin-top: 28px;
}

.about-block h1 {
    font-size: 30px;
    line-height: 32px;
    font-weight: 700;
    margin: 10px 0 0;
}

.about-text {
    margin-top: 40px;
}

.about-text p {
    margin-top: 20px;
}

.about-text h3 {
    margin-top: 30px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.about-text ul {
    list-style: none;
    margin-top: 20px;
    padding-left: 0;
}

.about-text ul li {
    margin-top: 10px;
    padding-left: 15px;
    position: relative;
}

.about-text ul li::before {
    content: "•";
    color: #ad1d26;
    position: absolute;
    left: 0;
    font-weight: bold;
}

.gallery {
    margin-top: 58px;
}

.gallery-grid {
    width: 100%;
    gap: 16px;
    margin-top: 28px;
}

.photo {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: zoom-in;
    background: #f4f4f5;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 350ms linear;
}

.photo:hover img {
    transform: scale(1.05);
}

/* Адаптивность для "О магазине" */
@media (min-width: 641px) {
    .gallery-grid {
        display: grid;
        grid: "a c d" auto "a c e" auto "b c e" auto / auto auto auto;
    }
    .gallery-grid .photo:nth-child(1) { grid-area: a; }
    .gallery-grid .photo:nth-child(2) { grid-area: b; }
    .gallery-grid .photo:nth-child(3) { grid-area: c; }
    .gallery-grid .photo:nth-child(4) { grid-area: d; }
    .gallery-grid .photo:nth-child(5) { grid-area: e; }
}

@media (max-width: 1240px) {
    .about-block {
        margin-left: 15px;
        margin-right: 15px;
    }
    .about-block h1 {
        font-size: 26px;
        line-height: 28px;
    }
    .about-text {
        margin-top: 20px;
    }
    .about-text h3 {
        font-size: 16px;
    }
    .gallery {
        margin-top: 38px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .gallery-grid {
        margin-top: 22px;
    }
}

@media (max-width: 1000px) {
    .about-block h1 {
        font-size: 22px;
        line-height: 24px;
    }
    .about-text {
        font-size: 15px;
        line-height: 22px;
    }
}

@media (max-width: 640px) {
    .about-block {
        margin-top: 18px;
    }
    .gallery-scroll {
        overflow-x: auto;
        width: calc(100% + 30px);
        margin-left: -15px;
    }
    .gallery-grid {
        display: flex;
        flex-wrap: nowrap;
        gap: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .gallery-grid::after {
        content: "";
        flex: 0 0 1px;
    }
    .photo {
        height: 340px;
        flex: 0 0 85%;
    }
}

@media (max-width: 460px) {
    .photo {
        height: 240px;
    }
}

@media (max-width: 380px) {
    .photo {
        height: 180px;
    }
}

.main-site {
    display: block;
    max-width: 1176px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 1240px) {
    .main-site {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*Стили для страницы "Замеры*/
.delivery-info {
    margin-top: 28px; 
    padding-bottom: 28px;
}

.cart-wrap {
    padding-top: 5px;
}

.cart-wrap h1 {
    font-size: 30px;
    font-weight: 700; 
    line-height: 1.2; 
}

.delivery-content {
    margin-top: 40px;
}

.delivery-content h1, 
.delivery-content h2, 
.delivery-content h3 { 
    font-weight: 700; 
}

.delivery-content h1 { 
    font-size: 30px; 
    line-height: 32px; 
    margin: 10px 0 0; 
}
.delivery-content h2 { 
    font-size: 24px; 
    line-height: 24px; 
    margin-top: 30px; 
}
.delivery-content h3 { 
    font-size: 18px; 
    line-height: 22px; 
    margin-top: 30px; 
}

.delivery-content ul { 
    list-style: none; 
    margin-top: 20px; 
}
.delivery-content ul li { 
    margin-top: 10px; 
}
.delivery-content ul li::before { 
    content: "• "; color: #ad1d26; 
}

/*Стили для таблиц */
.table-container {
    overflow: hidden; 
    border: 1px solid #eaebed; 
    border-radius: 8px;
    margin-top: 20px; 
    overflow-x: auto;
}
.delivery-content table { 
    width: 100%; 
    border-collapse: collapse; 
}
.delivery-content table th, .delivery-content table td {
    padding: 15px 25px; 
    text-align: left;
     border: none;
    border-bottom: 1px solid #eaebed;
}
.delivery-content table th { 
    background: #f4f4f5; 
    font-weight: 600; 
}
.delivery-content table tr:last-child th,
.delivery-content table tr:last-child td { 
    border-bottom: none; 
}

/*Стили для страницы Доствка и Установка*/
.page-wrapper {
    margin: auto;
    margin-top: 28px;
}

.page-wrapper h1 {
    font-size: 30px;
    line-height: 32px;
    font-weight: 700;
    margin: 10px 0 0 -1px;
}

.page-content {
    margin-top: 40px;
}

.page-content h2 {
    font-size: 24px;
    line-height: 24px;
    margin-top: 30px;
    font-weight: 700;
}

.page-content h3 {
    font-size: 18px;
    line-height: 22px;
    margin-top: 30px;
    font-weight: 700;
}

.page-content ul {
    list-style: none;
    margin-top: 20px;
}

.page-content ul li {
    margin-top: 10px;
    position: relative;
    padding-left: 15px;
}

.page-content ul li::before {
    content: "•";
    color: #ad1d26;
    font-weight: bold;
    position: absolute;
    left: 0;
}

.table-container {
    overflow-x: auto;
    margin-top: 20px;
}

.page-content table {
    width: 100%;
    line-height: 18px;
    border-radius: 8px;
    border-collapse: collapse;
    border: 1px solid #eaebed;
}

.page-content table th {
    background: #f4f4f5;
    padding: 15px 25px;
    text-align: left;
    font-weight: 600;
    border-bottom: 1px solid #eaebed;
}

.page-content table td {
    padding: 15px 25px;
    text-align: left;
    border-bottom: 1px solid #eaebed;
}

.page-content table tr:last-child td {
    border-bottom: none;
}
.highlight {
    color: red;
}
.price-col {
    width: 25%;
}
